:root {
	--background-color: #000000;
}

@font-face {
	font-family: CampenoRoundedVintage;
	src: url('../font/CampenoRoundedVintage.otf');
}

@keyframes fade-in {
	0% {
		transform: translateY(30%) rotateY(-20deg);
		opacity: 0;
	}

	100% {
		transform: translateY(0) rotateY(20deg);
		opacity: 1;
	}
}

@keyframes fade-in-no-rot {
	0% {
		transform: translateY(30%);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes bg-anim {
	0% {
		background-position: 0 center;
	}

	50% {
		background-position: 100% center;
	}

	100% {
		background-position: 0 center;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

html {
	font-size: 18px;
}

html, body {
	width: 100%;
	height: 100%;
	height: 100svh;
}

body {
	background-color: var(--background-color);
	overflow-x: hidden;
}

#module-container {
	position: absolute;
	top: 0;
	left: 30%;
	width: 70%;
	height: 100%;
	max-width: 900px;
	min-width: 320px;
}

#main-container {
	position: absolute;
	padding: 20px;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	max-width: 900px;
	min-width: 320px;
	transform: translate(-50%, -50%);
}

.fade-in-items.play {
	animation: fade-in 1.5s linear 1;
}

h1 {
	color: #ffffff;
	text-align: center;
	font-family: CampenoRoundedVintage;
	margin-top: 30px;
	font-size: 1.5rem;
}

div {
	font-family: CampenoRoundedVintage;
	color: #ffffff;
	text-align: center;
}

#content {
	position: absolute;
	padding: 20px;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	perspective: 700px;
}

.fade-in-items {
	transform: rotateY(20deg);
}

#intro-content {
	background-image: linear-gradient(20deg, #f0f, #0ff);
	background-position: 100% center;
	background-size: 200% 200%;
	background-repeat: no-repeat;
	animation: bg-anim 15s linear infinite;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

#start-btn {
	position: relative;
	padding: 10px;
	margin-inline: auto;
	top: 0;
	left: 0;
	right: 0;
	width: fit-content;
	height: fit-content;
	color: #000000;
	background-color: #8ff;
	font-family: CampenoRoundedVintage;
	border: 5px double #000000;
	border-radius: 8px;
	font-size: 1.2rem;
	cursor: pointer;
	transition: background-color 0.3s linear;
}

#loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	transition: opacity 0.3s linear;
}

#loader.hide {
	pointer-events: none;
	opacity: 0;
}

@media screen and (max-width: 600px) {
	html {
		font-size: 20px;
	}

	#module-container, #content {
		left: 0;
		width: 100%;
	}

	#content {
		background-color: rgba(0, 0, 0, 0.6);
	}

	.fade-in-items {
		animation: fade-in-no-rot 1.5s linear 1;
		transform: rotateY(0deg);
	}	
}

@media (hover: hover) {
	#start-btn:hover {
		background-color: #ff88ff;
	}
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	appearance: none;
	width: 0px;
	height: 0px;
}

::-webkit-scrollbar-track {
	-webkit-appearance: none;
	appearance: none;
	background-color: #000000;
}

::-webkit-scrollbar-thumb {
	-webkit-appearance: none;
	appearance: none;
	background-color: #ffffff;
}
